body{
    background-color: whitesmoke;
    padding-top: 60px;
    padding-bottom: 60px;
}
.header-padding-right{
    padding-right: 10px;
}
.hr-color{
    border-top-color:#a59191;
}
a:hover{
    text-decoration: none;
}
.navbar-text {
    float: none;
}

.img-border{
    border: 1px solid #868a96;
}

.ui-state-active{
    border-color: #868a96;
    background-color: #b9b9b9;
}

.ui-state-focus{
    border-color: #868a96;
}

.hello{
    font-family: "Monotype Corsiva";
    font-size: x-large;
}

/*flip css start*/
.flip-pers{
    -webkit-perspective: 1000px;
    perspective: 1000px;
    border: 2px solid #868a96;
}
.flip-height{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 400px;
    -webkit-transform-style:preserve-3d;;
    transform-style: preserve-3d;
    position:relative;
}
.flip-flip{
    -webkit-transition: -webkit-transform 3s;
    transition: transform 3s;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-div1{
    height: inherit;
    background-color: white;
    /*z-index: 1;*/
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    position: absolute;
    left: 0px;
    top:0px;
}
.flip-div2{
    height: inherit;
    background-color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute;
    left: 0px;
    top:0px;
}
/*flip css ends*/
/*Card css starts*/
.card-top{
    position: static;
    top: 0;
}
.card-bot{
    position: fixed;
    bottom: 0;
}
/*Card css ends*/